

body{

    height: 98vh;
    background-color: rgb(153, 27, 27);
    margin: 0;

}

header{
    height: 10vh;
    background-color: rgb(177, 25, 25);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: linear-gradient(red,orange
    );
}

/* logo dans le header */
.logo-pokemon{
    height: 4rem;
}

/*titre prinpale unique*/
h1{
    font-size: 3rem;
    color: white;
    font-family: "roboto";
    letter-spacing: 0.2rem;
    
}

.section-bottomOfHeader{


    height: 10vh;
    width: 100%;

    display: flex;
    justify-content:center;
    align-items: center;

    gap: 10px;

}


.div-recherche{
    height: 4.2vh;
    width: 30vh;

    background-color:#1f2937;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    
}

.div-recherche:hover{
    border: 2px solid rgba(255, 115, 0, 0.6);
}

.div-recherche:active{
    transform: scale(0.95);
}

.barre-de-recherche{
   

    height: 90%;
    width: 80%;


    border: none;
    cursor: pointer;
    outline: none;
    
    
    background-color: #1f2937;
    color: white;

    
    
}

/* From Uiverse.io by cssbuttons-io */ 
button {
    font-size: 17px;
    padding: 0.5em 2em;
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
  }
  
  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
  }
  
  .label {
    position: relative;
    top: -1px;
  }
  
  .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    /* background-color: rgba(16, 185, 129, 0.6); */
    background-color: rgba(255, 115, 0, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  button:hover .transition {
    width: 14em;
    height: 14em;
  }
  
  button:active {
    transform: scale(0.97);
  }
  




/* main avec la section scroll a gauche et section qui afficher un pokemon a droite */


main{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: 30% 60%;
    gap: 1rem;
}

.section-scroll-pokemon{
    height: 70vh;
    background-color: #1f2937;
    border: 3px solid  rgba(255, 115, 0, 0.6);


    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

}

.div-liste-pokemons{
    height: 6vh;
    width: 90%;
    background-color: orange;
    border: 5px solid  rgb(153, 27, 27);
    border-radius: 5px;
    margin: 10px 0px 0px 0px ;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.numero-pokemon{

    font-family: "roboto";
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    padding: 0px 0px 0px 20px ;

}

.nom-pokemon{
    font-family: "roboto";
    display: flex;
    align-items: center;
    padding: 0px 50px 0px 0px;
}

.image-pokemon{
    display: flex;
    align-items: center;
}







/*display my pokemon*/


.display-pokemon{
    
    height: 70vh;
    background-color: #1f2937;
    border: 3px solid  orange;


}

.align-elements-global{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
}

.align-div1{
    background-color: #1f2937;
    /* border: 3px solid  orange; */
    margin: 10px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.display-numero-pokemon{

    color: white;
    font-size: 30px;
    font-family: "roboto";
    margin-bottom: 0px;
    font-weight: bold;

}

.display-image-pokemon{
   
    height: 250px;
    width: 250px;
}

.display-nom-pokemon{
    color: white;
    font-size: 40px;
    font-family: "roboto";
    margin-bottom: 0px;
    margin: 0px;


}

.align-div2{
    background-color: #1f2937;
    /* border: 3px solid  orange; */
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.style-types{
    font-size: 25px;
    color: white;
    font-family: "roboto";
    margin-bottom: 15px;

    font-weight: bold;

}

.align-types{
    display: flex;
    /* flex-direction: column; */

    
}


.types-pokemons{
    height: 80px;
    width: 80px;
}

.align-content-evolution{

    background-color: #1f2937;
    /* border: 3px solid  orange; */
    margin: 10px;
    min-height: 20vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
h3{
    color: white;
    margin-bottom: 0px;
    font-family: "roboto";
    font-size: 25px;
    letter-spacing:1px;

}




/*evolution*/


.divEvolution{
    height:5vh;
    width: 90%;
    background-color: orange;
    border: 5px solid rgb(153, 27, 27);
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "roboto";
    cursor: pointer;

  }

.display-numero-pokemon-evolution{
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;

}

.display-name-pokemon-evo{
    font-weight: bold;
    font-size: 25px;

}

.image-pokemon-evo{
    height: 40px;
    width: 40px;
    margin-right: 20px;

}

.pasdevo{
    display: flex;
    justify-content: center;
    align-items:center ;
    font-family: "roboto";
    font-size: 20px;
    font-weight: bold;
    
}

.divEvolutionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
        min-height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 2Vh;
        margin-bottom: 5vh;
}

.style-evolutions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}





/*home content*/

.display-home-content{
    /* color: white; */
    font-family: "roboto";
    font-size: 10vH;
    z-index: 100;
    background-color: #1f2937;
    padding: 5vh;
    width:80vh;
    position: absolute;
    left:75vh;


    color: white;
    font-family: "roboto";
    font-size: 10vH;
    z-index: 100;
    background-color: #1f2937;
    padding: 5vh;
    width: 75vh;
    position: absolute;
    left: 40%;
    right: 79vh;
    padding: -1px 0px 0px 0px;
    top: 35%;
    height: 20vh;
    /* margin: 0px; */

}
h6{
    margin: 0px;
}

.display-home-content.active{
    display: none;
}





/*bouton externe api*/



/* From Uiverse.io by Jedi-hongbin */ 
.goback {
    display: flex;
    height: 3em;
    width: 140px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background:rgb(153, 27, 27);
    


    position: absolute;
    top: 25vh;
    left: 40%;
   }
   
   .goback> svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .goback:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .goback:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }



   /*boutton next*/

   /* From Uiverse.io by Jedi-hongbin */
.gonext {
    display: flex;
    height: 3em;
    width: 140px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: rgb(27, 153, 27); /* Changement de couleur en vert */
    position: absolute;
    top: 25vh;
    right: 10%;
}

.gonext > svg {
    margin-left: 5px; /* La flèche est maintenant à droite du texte */
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.gonext:hover > svg {
    font-size: 1.2em;
    transform: translateX(5px); /* La flèche bouge vers la droite au survol */
}

.gonext:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

/* .goback>svg{
    transform: rotateX('180deg');
} */