body{
    min-height: 90vh;
    /* background-color: #408000; */
    /* background-color: orange; */
    /* background-color: rgb(66, 66, 124); */
    /* background-color: rgb(193, 221, 176); */
    background-color: rgb(239,239,215);
    background-color: gray;
    background-color:  #535252;


    

    position: relative;
    /* overflow: scroll; */
    z-index: -1;
    position: relative;

}


.fa-tasks{
    font-size: 30px;
}

/* From Uiverse.io by vinodjangid07 */ 
.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(255, 95, 95);
    background-color: #3b82f6;
    cursor: pointer;
    border: 3px solid #f3f7fe;
    /* background-color: #f3f7fe; */
    transition-duration: 0.3s;
    margin-left: 10px;
  }
  .bin-bottom {
    width: 15px;
  }
  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
  }
  .bin-button:hover .bin-top {
    transform: rotate(45deg);
  }
  .bin-button:hover {
    background-color: rgb(255, 0, 0);
  }
  .bin-button:active {
    transform: scale(0.9);
  }
  





/* *{
    box-sizing: border-box;
} */

header{
    /* min-height: 10vh; */
    /* background-color: 	rgb(130, 216, 130); */
    margin: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    top: 0%;
    width: 90%;
    height: 5vh;
    left: 3%;
    gap: 10px;
}



/* From Uiverse.io by Galahhad */ 
.search-label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border: 1px solid transparent;
    border-radius: 12px;
    overflow: hidden;
    background: #3D3D3D;
    padding: 9px;
    cursor: text;
  }
  
  .search-label:hover {
    border-color: gray;
  }
  
  .search-label:focus-within {
    background: #464646;
    border-color: gray;
  }
  
  .search-label input {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    color: rgb(162, 162, 162);
  }
  
  .search-label input:focus+.slash-icon,
  .search-label input:valid+.slash-icon {
    display: none;
  }
  
  .search-label input:valid~.search-icon {
    display: block;
  }
  
  .search-label input:valid {
    width: calc(100% - 22px);
    transform: translateX(20px);
  }
  
  .search-label svg,
  .slash-icon {
    position: absolute;
    color: #7e7e7e;
  }
  
  .search-icon {
    display: none;
    width: 12px;
    height: auto;
  }
  
  .slash-icon {
    right: 7px;
    border: 1px solid #393838;
    background: linear-gradient(-225deg, #343434, #6d6d6d);
    border-radius: 3px;
    text-align: center;
    box-shadow: inset 0 -2px 0 0 #3f3f3f, inset 0 0 1px 1px rgb(94, 93, 93), 0 1px 2px 1px rgba(28, 28, 29, 0.4);
    cursor: pointer;
    font-size: 12px;
    width: 15px;
  }
  
  .slash-icon:active {
    box-shadow: inset 0 1px 0 0 #3f3f3f, inset 0 0 1px 1px rgb(94, 93, 93), 0 1px 2px 0 rgba(28, 28, 29, 0.4);
    text-shadow: 0 1px 0 #7e7e7e;
    color: transparent;
  }











.main{
    position: absolute;
    top: 25%;
    width: 100%;
    height: 65vh;
    z-index: -1;
    overflow: scroll;
    /* max-height: 40vh; */
}

.titre1{
    /* color: rgb(31,63,195); */
    /* color:  #3b83f65f; */
    color: black;
    font-family: "roboto";
    
}

.sectionRecherche{
    /* min-height: 6vh; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0px 0px 20px  ;
    position: fixed;
    top: 8%;
    width: 100%;
    left: 0%;
    gap: 5px;
}
/* 
.barreDeRecherche{
    margin: 5px;
    height: 4vh;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    border: none;
    width: 50%;
    outline: none;

} */

.bouttonRecherche{
    background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 39px;
  transition: 0.3s;
  margin: 0px 0px 0px 10px;

}

.bouttonRecherche:hover{
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  

.sectionRecherche i{

    font-size: 25px;
}


/* .clear{
  position: absolute;
  right: 10px;
  top: 20px; 
}

  */


.ListTask{
    /* display: none; */
    height: 10vh;
    width: 100%;
    /* background-color: #00b300; */
    /* background-color: rgb(31,63,195); */
    /* background-color: #3b82f6; */
    background-color: rgb(107, 105, 105);

    


    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    opacity: 1;

}



.ListTask.active{
    /* display: block; */
    /* transition: 1s; */
    opacity: 0;
    
}

.div-align-task{
    /* display: flex;
    align-items: center;
    /* justify-content: center; */
    /* height: 50px;  */
    position: absolute;
    left: 10%;
    display: flex;
    align-items: center;
}

.texte-Tasks-style{

    /* color: white; */
    /* color: rgb(239,239,215); */
    color: black;
    padding: 10px 20px 10px 10px;
    margin: 0px 0px 0px 20px;
    font-family: "roboto";
    font-size: 20px;
    /* max-width: 100%;
    word-wrap: break-word; */
    
}

.image-valide-delete{
    padding: 0px 0px 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    position: absolute;
    right: 5%;
}




.fond-buttonadd{
    background-color: rgb(31,63,195);
    background: #3D3D3D;

    height: 10vh;
    width: 100%;
    position: fixed;
    left: 0%;
    bottom: 0%;
}

.addListLogo{
    height:50px;
    position: absolute; 
    bottom: 15%;
    left: 40%;

}




/* Ajout de tache section css*/

.sectionAddTask{
    /* display: none; */
    height:100%;
    width: 100%;
    padding: 10px;
    /* background-color: rgb(31,63,195); */
    background-color: #3D3D3D;



    padding: 30px 0px 0px 0px;
    transform: translateX(-110%);
    transition: 0.5s;


    top: 0px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

}

.sectionAddTask.active{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; */
    top: 0px;
    z-index: 1000;
    left: 0px;
    width: 100%;
    height: 100%;

    transition: 0.5s;
    transform: translateX(0%);
  


}





.divInput-date{
    width: 90%;
    position: absolute;
    left: 4%;

    /* display: flex;
    flex-direction: column;
    align-items: center;  */
}

.TasknameInput{
    width: 100%;
    height: 4vh;
    background-color: gray;
    border-radius: 5px;
    border: none;
    position: absolute;
    outline: none;

}


.TasknameInput:hover{
    border: #3b82f6 3px solid;


}



.CreateDate{
    width: 90%;
    height: 2vh;
    color: grey;
    font-size: 15px;
    padding: 0px 0px 0px 10px;
    margin: 50px 0px 0px 0px ;
}




.InputContent{
    width: 93%;
    position: absolute;
    top: 17%;
    left: 4%;
    height: 45vh;
    border: none;
    background-color: beige;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px ;
    background-color: gray;
    border-radius: 5px;
    outline: none;


}

.InputContent:hover{
    border: #3b82f6 3px solid;
}



.InputTag{
    width: 93%;
    position: absolute;
    bottom: 17%;
    left: 4%;
    height: 3vh;
    border: none;
    background-color: beige;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px ;
    background-color: gray;
    border-radius: 5px;
    outline: none;

}

.InputTag:hover{
    border: #3b82f6 3px solid;


}




.validTask{
    /* display: grid;
    grid-template-columns: 1fr 1fr ; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 15px;
    position: absolute;
    bottom: 2%;
    /* left: 17%; */
}

.valider-ma-tache{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    
    width: 50px;
    height: 50px;
    background: #3D3D3D;
    border-radius: 30px;
    border: #3b82f6 3px solid;


}













.texteValid{
    color: white;
    font-family: "roboto";
    letter-spacing: 4px ;
}


.CreateDate{

    color: white;
    font-family: "roboto";
    padding: 0px 0px 0px 20px;
}


/* .container-List{
    /* max-height: 40vh; */






/*clique sur la div pour afficher le contenu dune tache*/


.fa-chevron-down{
    /* color: rgb(239,239,215); */
    color: black;

    
    font-size: 30px;
    transition: 1s;


}

.fa-chevron-down.active{

    rotate: 180deg;
    transition: 0.5s;
}



.display-Task-Content{
    /* display: none; */
    display: none;
    min-height: 15vh;
    /* background-color: rgb(31,63,195); */
    background: #3D3D3D;
    transition: 3s;
 

    border-radius: 10px;
    color: white;
    font-family: "roboto";
    padding: 10px 10px 10px 10px;

}

.display-Task-Content.active{

    display: block;
    transition: 1s;
    display: flex;
    flex-direction: column;

}

.contenuDivTache{
    color: white;
    margin: 10px;
    max-width: 100%;
    word-wrap: break-word;
     
}


.boutonDelete{

    display: flex;
}


.fa-circle-xmark{
    /* color:#d32f3a ; */
    color: #3b82f6;


}


.fa-check-circle{
    color: white;
    
}


.fa-check-circle.active{
    color: #26a269;
}




.messageRechercheIntrouvable{
    color: rgb(84, 153, 243);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "roboto";
    font-size: 17px;
    font-weight: bold;

    margin: 5px 0px 0px 0px;

}


.fa-arrow-left{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0px 5px 0px 10px;
    color: #3b82f6;
    background-color: #ffffff;
    border-radius: 10px;
    height: 27px;
    width: 30px;
    border: #3b82f6 solid 3px;
    /* margin: 0px 10px 0px 10px; */
    margin-left: 10px
}

.contenuPasTrouve{
    background: #3D3D3D;
    height: 7vh;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    margin: 0px 0px 0px 20px;
    position: fixed;
    top: 15%;
    width: 90%;
    left: 0%;
    border-radius: 10px;
    /* align-items: center; */

    display: flex;
    flex-direction: column;


}


.btn-tri{
    /* background: #464646; */
    background-color: #3b82f6;
    color: white;


    /* border: none; */
    border-radius: 10px;
    font-size: 16px;
    /* color: rgb(31,63,195); */
    font-family: "roboto";
    cursor: pointer;
    width: 20vh;
    height: 4vh;
    border-style: none;

    border: 3px solid #f3f7fe;

}

.btn-tri.active{
    opacity: 0.5;
    border: 3px solid rgb(255, 0, 0);

    
}
    

.btn-tri-alphabet{


    background-color: #3b82f6;
    color: white;
    /* border: none; */
    border-radius: 10px;
    font-size: 16px;
    height: 4vh;
    font-family: "roboto";
    cursor: pointer;
    border-style: none;

    border: 3px solid #f3f7fe;

}

.btn-tri-alphabet.active{
    opacity: 0.5;
    border: 3px solid rgb(255, 0, 0);

    
}


.div-tri{
    display: grid;
    grid-template-columns:20% 30% 30%;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    height: 7vh;
}



/*style du bouton pour ajouter des tache +*/


.addListLogo{

    display: flex;
    justify-content: center;
    align-items: center;



    color: white;
    background-color: #343434;
    height: 55px;
    width: 55px;
    border-radius: 30px;
    font-size: 40px;
    font-weight: bold;
    
    border: #3b82f6 3px solid;

    position: relative;
    bottom: 45%;

    transition: 1s;
}






