body{
    min-height: 90vh;
    background-color: rgb(223, 197, 126);
    position: relative;
    overflow: scroll;
}

header{
    /* min-height: 10vh; */
    background-color:  rgb(189, 167, 106) ;
    margin: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
    position: fixed;
    top: 0%;
    width: 90%;
    left: 2.5%;
}

.main{
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: -1;

}

.titre1{
    color: white;
    font-family: "roboto";
    

}

.sectionRecherche{
    /* border-radius: 30px; */
    min-height: 5vh;
    background-color:  rgb(189, 167, 106) ;
    display: flex;
    justify-content: center;

    position: sticky;
    top: 15%;
    width: 100%;
    left: 0%;
}

.barreDeRecherche{
    margin: 5px;
    border-radius: 30px;
    padding: 0px 0px 0px 10px;
    border: 1px solid black;


}

.bouttonRecherche{
    margin: 5px;
    border-radius: 30px;
    background-color: white;
    color: black;
    border: 1px solid black;

}

.ListTask{
    /* display: none; */
    height: 10vh;
    width: 100%;
    background-color:  rgb(189, 167, 106);
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    opacity: 1;
}



.ListTask.active{
    /* display: block; */
    /* transition: 1s; */
    opacity: 0;
    
}

.div-align-task{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 50px;

}

.texte-Tasks-style{

    color: white;
    padding: 10px 20px 10px 10px;
    margin: 0px 0px 0px 20px;
    font-family: "roboto";
    font-size: 20px;
}

.image-valide-delete{
    padding: 0px 0px 0px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.fond-buttonadd{
        background-color:  rgb(189, 167, 106);
        height: 10vh;
        width: 100%;
        position: fixed;
        left: 0%;
        bottom: 0%;
}

.addListLogo{
    height:60px;
    position: absolute;
    bottom: 5%;
    left: 40%;
}









/* Ajout de tache section css*/

.sectionAddTask{
    display: none;
    min-height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgb(223, 197, 126);
    padding: 30px 0px 0px 0px;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: 1000; */

}

.sectionAddTask.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: 1000;
  


}

.divInput-date{
    width: 90%;
    position: absolute;
    left: 4%;

    /* display: flex;
    flex-direction: column;
    align-items: center;  */
}

.TasknameInput{
    width: 100%;
    height: 4vh;
    background-color: beige;
    box-shadow: 3px 5px rgba(133, 133, 133, 0.322);
    border-radius: 0px;
    border: none;



}


.CreateDate{
    width: 80%;
    height: 2vh ;
    color: grey;
    font-size: 15px;
    padding: 0px 0px 0px 10px;
    margin: 10px 0px 0px 0px ;
}




.InputContent{
    width: 93%;
    position: absolute;
    top: 13%;
    left: 4%;
    min-height: 52vh;
    border: none;
    background-color: beige;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px ;
    box-shadow: 3px 6px rgba(133, 133, 133, 0.322);
    border-radius: 0px;

}

.InputTag{
    width: 93%;
    position: absolute;
    bottom: 17%;
    left: 4%;
    min-height: 3vh;
    border: none;
    background-color: beige;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px ;
    box-shadow: 3px 6px rgba(133, 133, 133, 0.322);
    border-radius: 0px;
}




.validTask{
    /* display: grid;
    grid-template-columns: 1fr 1fr ; */
    display: flex;
    align-items: center;
    gap: 8%;
    position: absolute;
    bottom: 8%;
    left: 17%;
}

.texteValid{
    color: white;
    font-family: "roboto";
    letter-spacing: 4px ;
}